MONGO_URI=mongodb_link
JWT_SECRET=the_secret_key
PORT=3000

# Cloudinary
# Đăng nhập https://console.cloudinary.com để lấy 3 thông tin dưới đây
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email (cho forgot password)
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_google_app_password

# Frontend URL
FRONTEND_URL=http://localhost:3001
